<!DOCTYPE html>
<html ng-app="progressbarApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="site-header">
            <span>
                <span class="glyphicon glyphicon-tower"></span>
                {{appTitle}}
            </span>
        </div>

        <div class="container">

            <!--Basic timer-->
            <div class="row" ng-controller="basicProgressbarController">
                <div class="row">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100"
                             style="width:{{progressPercentage}}%;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-default" ng-click="start();" ng-disabled="started" title="Play">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>

                    <button type="button" class="btn btn-default" ng-click="pause();" ng-disabled="!started" title="Pause">
                        <span class="glyphicon glyphicon-pause"></span>
                    </button>

                    <button type="button" class="btn btn-default" ng-click="reset();" title="Reset">
                        <span class="glyphicon glyphicon-stop"></span>
                </div>
            </div>

            <!---->
            <div class="row">

            </div>
        </div>

        <div class="site-footer">
            zeng.stephen@gmail.com
        </div>

    </div>
</div>

<script src="js/jquery-2.1.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/angular.js"></script>
<script src="app/app.js"></script>
<script src="app/basicProgressbarController.js"></script>

</body>
</html>