<div class="row">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60"
             aria-valuemin="0" aria-valuemax="100"
             style="width:{{progressPercentage}}%;">
        </div>
    </div>
</div>
<div class="row">
    <button type="button" class="btn btn-default" ng-click="start();" ng-disabled="started"
            title="Play">
        <span class="glyphicon glyphicon-play"></span>
    </button>

    <button type="button" class="btn btn-default" ng-click="pause();" ng-disabled="!started"
            title="Pause">
        <span class="glyphicon glyphicon-pause"></span>
    </button>

    <button type="button" class="btn btn-default" ng-click="reset();" title="Reset">
        <span class="glyphicon glyphicon-stop"></span>
    </button>
</div>
